@use '../util/' as *;

.header{
    margin-top: rem(36);
    display: flex;
    flex-wrap: wrap;


    @include breakpoint (medium){//we want it side by side on desktop only
        display: flex; 
        justify-content: space-between;
        align-items: center;
    }
    
    &__title{
        width: 100%;
        @include breakpoint(medium){
            width: auto;
        }
    }

    &__subtitle{
        font: var(--font-inter);
        color: var(--text-color2);
        font-weight: bold;
        font-size: rem(14);
    }
    &__toggle{
    }
}
